.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

#myGraph, #myGraph2, #myGraph3, #myGraph4, #myGraph5, #myGraph6, #myGraph7, #myGraph8, #myGraph9 {
    width: 1000px;
    height: 500px;
    margin: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.text-container {
    text-align: center;
    flex: 2;
    padding: 10px;
    margin-right: 0px
}

.text-container h1 {
    text-align: center;
    font-weight: bold;
}

.text-container h6 {
  text-align: center;
  font-weight: bold;
  color: #4a4a4a;
}

.text-container h9 {
  text-align: center;
  font-weight: bold;
  color: #000dff;
}

.text-container p {
  text-align: center;
  margin-bottom: 0px;
  color: #4a4a4a;
}

h2 {
    color: #2f2f2f;
    font-size: 150%    
}

p {
    color: rgb(77, 77, 77);
    font-size:80%
}